/* Todas as demais telas */

@media (min-width: 768px) and (max-width: 992px) {
    .boxesmacro {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr;
    }

    .boxes-containerfinal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-container {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr;
    }

    .subscribe-box {
        width: 60%;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .boxesmacro {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr;
    }

    .services-box {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .cases-container {
        width: 100%;
    }

    .services-container {
        width: 100%;
    }

    .cases-box {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .cases-box h2 {
        width: 50%;
    }

    .cases-box p {
        width: 50%;
    }

    .boxes-containerfinal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-container {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr;
    }

    .subscribe-box {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 100%;
        max-width: 1200px;
    }



    .translate-container {
        width: 100%;
    }

    .boxesmacro {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr;
    }

    .services-box {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 30px
    }

    .services-box h2 {
        display: flex;
        margin: 0;
    }

    .services-box p {
        display: flex;
        margin: 0;
    }

    .cases-container {
        width: 100%;
    }

    .services-container {
        width: 100%;
    }

    .cases-box {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 30px
    }

    .cases-box h2 {
        display: flex;
        margin: 0;
    }

    .cases-box p {
        display: flex;
        margin: 0;
    }

    .boxes-containerfinal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-container {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr;
    }

    .subscribe-box {
        width: 40%;
    }
}