@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

main {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.box-header {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-header img {
    max-width: 100%;
    height: auto;

}

.box-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;

}

.box-header p {
    font-size: 1.2em;
    font-weight: 300;
}

.btn-header {
    width: 90%;
    margin-top: 10%;
    border: none;
    height: 50px;
    border-radius: 20px;
    background-color: #191A23;
    color: #ffffff;
}

.btn-header:hover {
    cursor: pointer;
    opacity: 0.8;
}

.translate-container {
    width: 100%;

}

.logo-slider {
    overflow: hidden;
    width: 100%;
    margin: 10% 0 10% 0;
    background-color: #fff;

}

.logos {
    display: flex;
    gap: 20px;
    animation: slide 20s linear infinite;
}

.logo {
    height: auto;
    width: auto;
    filter: grayscale(100%);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.services-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.services-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxesmacro {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container h2 {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    width: 160px;
    border-radius: 10px;
    background-color: #B9FF66;
}

.services-container p {
    text-align: center;
    margin-top: 4%;
}

.boxes-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    margin-top: 6%;
    flex-direction: column;
    width: 90%;
    height: 20.125em;
    border-radius: 20px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.boxes {
    width: 70%;
    height: 90%;
    align-items: center;
}

.box-title1 {
    display: flex;
    height: 40%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: end;
}

.box-title1 h2 {
    display: flex;
    height: 80px;
    background-color: #B9FF66;
    font-size: 1.2rem;
}

.boxes-2 {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 4%;
    align-items: end;
}

.icone {
    display: flex;
    width: 50%;
}

.boxes-container2 {
    display: flex;
    width: 90%;
    height: 20.125em;
    justify-content: center;
    align-items: center;
    background-color: #B9FF66;
    margin-top: 6%;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.box-title2 {
    display: flex;
    height: 40%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: end;
}

.box-title2 h2 {
    display: flex;
    height: 80px;
    background-color: #ffffff;
    font-size: 1.2rem;
}


.boxes-container3 {
    display: flex;
    width: 90%;
    height: 20.125em;
    justify-content: center;
    align-items: center;
    background-color: #191A23;
    margin-top: 6%;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.box-title3 {
    display: flex;
    height: 40%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: end;
}

.box-title3 h2 {
    display: flex;
    height: 80px;
    background-color: #ffffff;
    font-size: 1.2rem;
}

.boxes-3 {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 4%;
    align-items: end;
}

.boxes-containerfinal {
    display: flex;
    width: 90%;
    height: 22em;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    margin-top: 6%;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}

.box-final {
    width: 90%;
}

.box-final h3 {
    font-size: 30px;
    text-align: left;
}

.box-final p {
    font-size: 16px;
    margin-top: 2%;
    text-align: left;
}

.btn-services {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 5%;
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: #191A23;
    color: #ffffff;
    font-size: 16px;
}

.btn-services:hover {
    cursor: pointer;
    opacity: 0.8;
}

.cases-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.cases-box {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.cases-box h2 {
    display: flex;
    margin-top: 6%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #B9FF66;

}

.cases-box p {
    text-align: center;
    margin-top: 4%;

}


.container {
    overflow: hidden;
    width: 100%;
}

.slides-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 16px;
    scroll-behavior: smooth;

}


.slides {
    display: flex;
    flex-direction: column;
    flex: 0 0 90%;
    width: 100%;
    height: 15.625em;
    justify-content: center;
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    scroll-snap-align: start;
    white-space: normal;
}


.more {
    color: #9cff00;
    font-weight: bold;
    display: inline-block;
    margin-top: 10%;
    text-decoration: none;
}

.material-symbols-outlined {
    font-size: 16px;
    vertical-align: middle;
}


.slides-container::-webkit-scrollbar {
    display: none;
}

/* Estilos para cada item do FAQ */
.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    width: 100%;
    margin-top: 4%;
    background: #F3F3F3;
    color: #191A23;
    padding: 15px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
    border-radius: 20px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.faq-question span {
    font-size: 18px;
    transition: transform 0.3s;
}

.faq-question p {
    margin-left: 4%;
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #9cff00;
    padding: 0 15px;
    border-radius: 20px
}

.faq-answer p {
    margin: 10px 0;
    padding: 0;
    color: #333;
    font-size: 15px;
}


.faq-item.active .faq-answer {
    max-height: 100px;

}

.faq-item.active .faq-question span {
    transform: rotate(45deg);
}

.team-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-box {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.img-team {
    width: 40%;
}

.name-team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.name-team h2 {
    font-size: 20px;
    display: flex;

}

.name-team h3 {
    font-weight: 16px;
    font-weight: 300;
    display: flex;
    text-align: left;
}

.bio {
    display: flex;
    width: 90%;
    margin-top: 5%;

}

.bio p {
    display: flex;
    font-size: 16px;
    text-align: left;
    justify-content: left;

}

.hr-team {
    width: 70%;
    margin-top: 8%;
}

.btn-team {
    width: 90%;
    margin-top: 10%;
    font-size: 16px;
    border: none;
    height: 50px;
    border-radius: 20px;
    background-color: #191A23;
    color: #ffffff;
}

.btn-team:hover {
    opacity: 0.9;
    cursor: pointer;
}

.testimonials-container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 90%;
    height: auto;
    padding: 10px;
    overflow: hidden;
    background-color: #121212;
    border-radius: 20px;
    color: #fff;
    margin: 30px auto;

}

.testimonial-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.testimonial-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.testimonial-box {
    position: relative;
    padding: 20px;
    border: 1px solid #B9FF66;
    border-radius: 20px;
    text-align: center;
}

.testimonial-box::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #B9FF66;
}

.testimonial-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    white-space: normal;
}

.testimonial-author .author-name {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    font-weight: bold;
    color: #B9FF66;
}

.testimonial-author .author-position {
    font-size: 14px;
    color: #bbb;
}

.testimonial-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: #B9FF66;
}

.contact-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width: 80%;
    height: 380px;
    border-radius: 20px;
    background-color: #F3F3F3;
}

.quotes {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin-top: 10%;
}


.radio-container input[type="radio"] {
    display: none;
}



.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 18px;
}

.checkmark {
    border: 1px solid #191A23;
}

.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.2s;
}


.radio-container input[type="radio"]:checked+.checkmark {
    background-color: #ffffff;

}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input[type="radio"]:checked+.checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #B9FF66;
}


.dados-box {
    margin-top: 4%;
    width: 90%;
    justify-content: center;
    text-align: left;
}

form {
    max-width: 400px;
    margin: auto;
    margin-left: 4%;

}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #191A23;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;

}

textarea {
    height: 100px;
    resize: none;
}

.btn-form {
    width: 100%;
    margin-top: 5%;
    border: none;
    height: 50px;
    border-radius: 20px;
    background-color: #191A23;
    color: #ffffff;
}

.btn-form:hover {
    cursor: pointer;
    opacity: 0.9;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191A23;
    width: 100%;
    margin-top: 15%;
}

.versaodesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.versaodesktop2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-footer {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    margin-top: 5%;
}

.logo-footer h2 {
    color: #ffffff;
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.links-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 50%;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
}

a:active {
    color: #ffffff;
}


.contact-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
    align-items: center;
}

.contact-box h4 {
    background-color: #B9FF66;
    border-radius: 10px;
    padding: 3px 10px;
    font-family: 16px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
}

.contact-box ul {
    margin-top: 6%;
    color: #ffffff;
    padding: 0;
    font-weight: 200;
}

.subscribe-box {
    display: flex;
    width: 90%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
}

.email2 {
    width: 60%;
    height: 60px;
    background-color: transparent;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
}

.email2::placeholder {
    color: #fff;
    opacity: 0.8;

}

.btn-contact {
    width: 60%;
    margin-top: 4%;
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: #B9FF66;
    color: #191A23;
    font-size: 16px;
}

.btn-contact:hover {
    opacity: 0.9;
    cursor: pointer;
}

.sub-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 100%;
    align-items: center;

}

.icon-img {
    padding: 20px;
    gap: 20px;
}

.icon-img a {
    margin-right: 15px;
}

.hr-footer {
    width: 80%;
    color: #F3F3F3;
    margin: 20px;
}

footer h3 {
    color: #F3F3F3;
    font-weight: 300;
    font-family: 12px;
}