@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

main {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.box-header {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-header img {
    max-width: 100%;
    height: auto;

}

.box-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;

}

.box-header p {
    font-size: 1.2em;
    font-weight: 300;
}

.btn-header {
    width: 90%;
    margin-top: 10%;
    border: none;
    height: 50px;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
}

.btn-header:hover {
    cursor: pointer;
}

.translate-container {
    width: 100%;

}

.logo-slider {
    overflow: hidden;
    width: 100%;
    margin: 10% 0 10% 0;
    background-color: #fff;

}

.logos {
    display: flex;
    gap: 20px;
    animation: slide 20s linear infinite;
}

.logo {
    height: auto;
    width: auto;
    filter: grayscale(100%);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.services-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.services-box {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-container h2 {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    width: 160px;
    border-radius: 10px;
    background-color: #B9FF66;
}

.services-container p {
    text-align: center;
    margin-top: 4%;
}

.boxes-container1 {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    margin-top: 6%;
    flex-direction: column;
    width: 390px;
    height: 320px;
    border-radius: 20px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.boxes {
    width: 70%;
    height: 90%;
    align-items: center;
}

.box-title1 {
    display: flex;
    height: 40%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: end;
}

.box-title1 h2 {
    display: flex;
    height: 80px;
    background-color: #B9FF66;
    font-size: 1.2rem;
}

.boxes-2 {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 4%;
    align-items: end;
}

.icone {
    display: flex;
    width: 50%;
}

.boxes-container2 {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #B9FF66;
    margin-top: 6%;
    flex-direction: column;
    width: 390px;
    height: 320px;
    border-radius: 20px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.box-title2 {
    display: flex;
    height: 40%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: end;
}

.box-title2 h2 {
    display: flex;
    height: 80px;
    background-color: #ffffff;
    font-size: 1.2rem;
}



.boxes-container3 {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-top: 6%;
    flex-direction: column;
    width: 390px;
    height: 320px;
    border-radius: 20px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.box-title3 {
    display: flex;
    height: 40%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: end;
}

.box-title3 h2 {
    display: flex;
    height: 80px;
    background-color: #ffffff;
    font-size: 1.2rem;
}

.boxes-3 {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 4%;
    align-items: end;
}

.boxes-containerfinal {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    margin-top: 6%;
    flex-direction: column;
    width: 390px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
}

.box-final {
    width: 80%;
}

.box-final h2 {
    font-size: 30px;
    text-align: left;
}

.box-final p {
    font-size: 16px;
    margin-top: 2%;
    text-align: left;
}

.btn-services {
    width: 80%;
    margin-top: 10%;
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
}

.btn-services:hover {
    cursor: pointer;
    opacity: 0.8;
}